.selected-labels{
    margin-top: 250px;
    background-color: #ddd;
    padding: 1em;
    span{
        background-color: aqua;
        padding: 0.2em;
        border-radius: 0.4em;
        margin: 0.1em;
    }
}