.p-datatable-tbody tr td {
  text-align: center !important;
}
.p-datatable-thead tr th {
  text-align: center !important;
}

.cart-item-trash-icon {
  font-size: x-large !important;
  font-weight: 800 !important;
  cursor: pointer;
  text-shadow: 0 0 3px #9e8d8d;
}
.cart-item-trash-icon:active {
  text-shadow: none;
}

.cart-row {
  background-color: #f0f2f5;
}

.cart-column {
  overflow-x: scroll;
}

.cart-datatable {
  min-width: 830px;
}

.cart-summury-table td {
  text-align: center;
  width: 50%;
}

.p-datatable.p-component.cart-datatable {
  border-radius: 7px;
  overflow: hidden;
}