.dropdown-menu-right .dropdown-menu {
    right: 0;
    left: auto;
    background-color: #637485d1;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #e9ecef26;
}

.custom-nav{
  background-color:  #162136 !important; 
}