.ad-crousel {
  max-height: 400px;
  height: 400px;
}

.ad-crousel-item {
  height: 400px !important;
  background-attachment: fixed;
}

.ad-crousel-item-img {
  height: 100% !important;
}

.ad-crousel-item-caption {
  background-color: #fe3f4054;
  color: #fff !important;
}

.ad-crousel-item-caption p{
  color: #fff !important;
}

.caption-text{
/*   background-color: #000; */
  padding: 0.3rem;
  display: inline-block;
  border-radius: 5px;
  text-shadow: rgb(254, 63 ,64) 0px 0px 0.15em;
}