.ad-crousel {
  max-height: 400px;
  height: 400px;
}

.ad-crousel-item {
  height: 400px !important;
  background-attachment: fixed;
}

.ad-crousel-item-img {
  height: 100% !important;
}

.ad-crousel-item-caption {
  background-color: #fe3f4054;
}
