@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
  overflow: hidden;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.moving {
  transform: scale(1.15, 1.15);
  transition: transform 2.75s;
}

#moving-overlay {
  position: fixed !important;
  top: 0px;
  left: 0px;
  height: 1000vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.726);
  z-index: 2000000000000000000;
  visibility: hidden;
}

#moving-overlay.show {
  visibility: visible;
}


.btn-primary {
  color: rgb(0, 0, 0) !important;
  background-color: #1CC5DC !important;
  border-color: #1CC5DC !important;
}

.btn-primary:hover{
  background-color: #279eae !important;
}